<style>
.m-top{
padding-top:200px;
}
</style>


<div class="container m-top">


<p class="h4"> Ok, Great! lets get your case started!</p>
<p class="h4"> We first need to collect some basic info:</p>
<br>
<p class="h5"> Choose your state:</p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  

 <%= f.select:state, [["Alaska", "Alaska"], ["Alabama", "Alabama"], ["Arizona", "Arizona"], ["Arkansas", "Arkansas"], ["California", "California"], ["Colorado", "Colorado"], ["Connecticut", "Connecticut"], ["Delaware", "Delaware"], ["Florida", "Floirda"], ["Georgia", "Georgia"], ["Hawaii", "Hawaii"], ["Idaho", "Idaho"], ["Illinois", "Illinois"], ["Indiana", "Indiana"], ["Iowa", "Iowa"], ["Kansas", "Kansas"], ["Kentucky", "Kentucky"], ["Louisiana", "Louisiana"], ["Maine", "Maine"], ["Maryland", "Maryland"], ["Massachusetts", "Massachusetts"], ["Michigan", "Michigan"], ["Mississippi", "Mississippi"], ["Missouri", "Missouri"], ["Montana", "Montnana"], ["Idaho", "Idaho"], ["Illinois", "Illinois"], ["Indiana", "Indiana"]],{} , { :class => 'form-select'}%>
     
    <br>

     <p class="h5"> Please select the number of children involved:</p>

     
    <div style="padding-bottom:10px;">
       
        <%= f.select:number_of_children, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"], ["6", "6"], ["7", "7"], ["8", "8"], ["9", "9"]],{} , { :class => 'form-select'}%>
       <br>
       
      <p class="h5"> Email where documents will be sent:</p>
       <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
       
       <br>

  <div class="actions">
  
        <%= f.submit 'next', class:"btn btn-block btn-lg rounded btn-warning"  %>
  </div>
<% end %>


</div>
</div>


